<div class="column">

    <table width="100%" border="0" cellpadding="0" cellspacing="0"
           class="columns_2_device_width">
        <tbody>
        <!-- image 2 -->
        <tr>
            <td class="inner">
                <!-- col 1 -->

                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0"
                       class="columns_2_cell">
                    <tbody>
                    <!-- image 2 -->
                    <tr>
                        <td width="100%" align="left" class="column_2_image_container">
                            <img src="{{ image }}" alt="" border="0"
                                 class="column_2_image" />
                        </td>
                    </tr>
                    <!-- end of image2 -->
                    <tr>
                        <td>
                            <!-- start of text content table -->
                            <table width="100%" align="left" border="0" cellpadding="0"
                                   cellspacing="0" class="devicewidthinner">
                                <tbody>
                                <!-- Spacing -->
                                <tr>
                                    <td class="column_2_cell_separator">
                                        &nbsp;</td>
                                </tr>
                                <!-- Spacing -->
                                <!-- title2 -->
                                <tr>
                                    <td class="column_2_cell_title">
                                       {{ title }}
                                    </td>
                                </tr>
                                <!-- end of title2 -->

                                <!-- Spacing -->
                                <tr>
                                    <td class="column_2_cell_separator">
                                        &nbsp;</td>
                                </tr>
                                <!-- Spacing -->

                                <!-- content2 -->
                                <tr>
                                    <td class="column_2_cell_description">
                                        {{ description }}
                                    </td>
                                </tr>
                                <!-- end of content2 -->

                                <!-- Spacing -->
                                <tr>
                                    <td class="column_2_cell_separator">
                                        &nbsp;</td>
                                </tr>
                                <!-- Spacing -->

                                <!-- read more -->
                                <tr>
                                    <td class="column_2_cell_link" st-title="3col-readmore1">
                                        <a href="{{ link_url }}" style="text-decoration:none; color: #0a8cd8; ">
                                            {{ link_txt }}
                                        </a>
                                    </td>
                                </tr>
                                <!-- end of read more -->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- end of text content table -->
                    </tbody>
                </table>

            </td>
        </tr>
        </tbody>
    </table>

</div>
